/* Tailwind Preflight simplified example */
*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    line-height: inherit;
}

hr {
    border-top-width: 1px;
}

abbr[title] {
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: 600;
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, monospace, monospace;
    font-size: 1em;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    background: transparent;
    appearance: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}