@import url('./styles/resets.css');
@import url('./styles/base.css');

/* ===================
   Layout base
=================== */

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

body {
    margin-inline: var(--space-xxl);
    font-family: var(--font-primary);
    background-color: var(--background-color);
}

/* ===================
   Header
=================== */

header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.25rem;
    margin-top: var(--space-sm);
    padding: var(--space-xl);
    border: var(--border);
    border-radius: var(--space-lg);
    color: var(--black);

    & ul {
        display: flex;
        list-style: none;
        gap: var(--space-lg);
        color: var(--nav-color);
    }

    & h4 {
        color: var(--nav-color);
    }
}



/* ===================
   Main grid
=================== */

main {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--space-md);
    margin-top: var(--space-md);
    color: var(--text-color);
}

/* ===================
   Containers
=================== */

.container {
    padding: var(--space-lg);
    border-radius: var(--space-lg);
}

/* ===================
   Item 1
=================== */

.item-1 {
    grid-column: span 5;
    background-color: var(--surface-color);
    align-content: flex-end;

    & p {
        width: 80%;
        font-weight: bold;
        font-size: var(--font-size-lg);

        & span {
            font-weight: lighter;
        }
    }
}

/* ===================
   Item 2
=================== */

.item-2 {
    grid-column: span 3;

    & img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}


/* ===================
   Item 3
=================== */

.item-3 {
    grid-column: span 4;
    grid-row: span 2;
    background-color: var(--surface-color);
    font-size: var(--font-size-md);

    & img {
        width: 100%;
        padding: var(--space-lg) 0;
    }

    & ul {
        padding-left: 0;
    }

    & li {
        margin-top: var(--space-md);
        padding: var(--space-lg) 0;
        border-top: var(--border);
        font-size: var(--font-size-md);
    }
}


/* ===================
   Item 4
=================== */

.item-4 {
    grid-column: span 4;
    grid-row-start: 2;
    background-color: var(--surface-color);
    align-content: flex-end;
}

/* ===================
   Item 5
=================== */

.item-5 {
    grid-column: span 4;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--accent-color);

    & .contact {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;
    }

    & ul {
        display: inline-flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }

}